@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-section{
    height: 100vh;
    width: 100%;
}

.container{
    height: 28rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
}

.container > *{
    margin: 1rem;
    text-align: center;
}

.qr{
    width: 16rem;
    border-radius: 1rem;
}

h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0rem !important;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}